CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
cmake-build-debug
.idea/
Project
Project_autogen/
QT_VIEW_autogen/
all_cpp_autogen/
libQT_VIEW.a
test_qt
test_qt_autogen/
view/
